@import "tailwindcss";
@import "./tokens.css";

/* Шрифт */

@font-face {
  font-family: "NeutralFace";
  src: url("/fonts/NeutralFace.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeutralFace";
  src: url("/fonts/NeutralFace-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 🌍 Глобальные типографические правила */

h1 {
  font-size: var(--text-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-default);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-normal);
}

h2 {
  font-size: var(--text-h2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-default);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-normal);
}

h3 {
  font-size: var(--text-h3);
  line-height: var(--lh-h3);
  letter-spacing: var(--ls-h3);
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
}

.subtitle {
  font-size: var(--text-subtitle);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-default);
  font-family: var(--font-body);
  font-weight: var(--font-weight-medium);
}

.subtitle-bold {
  font-size: var(--text-subtitle);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-default);
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
}

.subtitle-sm {
  font-size: var(--text-subtitle-sm);
  line-height: var(--lh-subtitle-sm);
  letter-spacing: var(--ls-default);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}

button {
  font-size: var(--text-subtitle);
  line-height: var(--lh-button);
  letter-spacing: var(--ls-default);
  font-family: var(--font-body);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-primary);
  color: var(--color-black);
  border-radius: var(--radius-sm);
  padding: 1.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
